<div>
    <div class="submit-form">
      
        <div class="form-group">
          <label for="name">Name*</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            [(ngModel)]="currentHero.name"
            name="name"
          />
        </div>
        <div class="form-group">
          <label for="alterEgo">Alter Ego*</label>
          <input
            class="form-control"
            id="alterEgo"
            required
            [(ngModel)]="currentHero.alterEgo"
            name="alterEgo"
          />
        </div>
        <div class="form-group">
            <label for="power">Power*</label>
            <input
              type="text"
              class="form-control"
              id="power"
              required
              [(ngModel)]="currentHero.power"
              name="power"
            />
          </div>
          <div class="form-group">
            <label for="name">Profil Picture*</label>
            <input
              type="text"
              class="form-control"
              id="picture"
              required
              [(ngModel)]="currentHero.picture"
              name="picture"
            />
          </div>
        <button [disabled]="!currentHero.name || !currentHero.alterEgo || !currentHero.power|| !currentHero.picture" (click)="updateHero()" class="btn btn-success">Submit</button>
        <p>{{ message }}</p>
    </div>
  </div>